{% extends 'base.html.twig' %}

{% block title %}Les personnages de Rick & Morty
{% endblock %}

{% block body %}

    {% for character in data["results"] %}

        <div class="card" style="width: 30rem; text-align: center; justify-content: center ; margin-left: auto;
    margin-right: auto; " >
            <img class="card-img-top" src="{{ character.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.status }}</p>
                <p class="card-text">{{ character.species }}</p>
                <p class="card-text">{{ character.gender }}</p>
            </div>
        </div>
        <br>



    {% endfor %}


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
                <a class="page-link" href="{{ path('app_next', {'id': 2}) }}">Next</a>
            </li>
        </ul>
    </nav>


{% endblock %}
